#Info {
  height: 80vh;
  background-color: #f5f5f5;
}
.userInfoSection {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 0 5vw;
}
.previousPage {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 2vh 0;
  max-width: 1200px;
  margin: 0 auto;
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-button {
  background: transparent;

  border-radius: 4px;
}

::-webkit-scrollbar-track-piece {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;

  background-color: rgba(0, 0, 0, 0.4);

  border: 1px solid slategrey;
}

::-webkit-scrollbar-track {
  box-shadow: transparent;
}
.userInfoTitle {
  width: 90%;
}
.userButtonHint {
  height: 24;
  display: flex;
  justify-content: center;
  align-item: center;
  text-align: center;
  margin: 16px;
  padding: 8px;
  font-size: 16px;
}
